@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#herocard {
  background-image: url(./img/heroImg.svg);
  min-height: 993px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 74px !important;
  line-height: 84px !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 48px !important;
  line-height: 55px !important;
  font-weight: 300 !important
}

.fs28 {
  font-size: 28px !important;
  line-height: 40px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important
}

.fs20 {
  font-size: 24px !important;
  line-height: 36px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important
}

iframe {
  border-radius: 25px;
  aspect-ratio: 2/1;
}

.borda {
  border-radius: 20px;
}

.fa { 
  color: #fcfcfc;
  margin: 0 16px;
}

.fa:hover {
  color: #c0c0c0
}

.pricing {
  background-color: #252B42
}

.pricingText {
  color: #252B42
}

footer {
  padding: 5rem 0;
  color: #f0f0f0
}

@media (max-width: 760px) {
  h1 {
    font-size: 48px !important;
    line-height: 55px !important;
    font-weight: 400 !important;
  }
  
  h2 {
    font-size: 48px !important;
    line-height: 55px !important;
    font-weight: 300 !important
  }
}